@import '~/styles/vars'

body
  width: $page-width
  max-width: $page-max-width
  margin: 2em auto
  text-align: center

h1
  padding: 0.5em
  font-size: 4em
  font-weight: bold
  color: $text-color
  border: 1px solid $text-color
  text-transform: uppercase
  color-adjust: economy